/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal section {
  /*background-color: #273043;*/
  background-image: radial-gradient(circle, #FB8500, #FD9E02, #FFB703);
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  line-height: 1.5em;
  
}

.reveal .container-fluid {
  background-color: #fff;
  border: 1px solid #273043;
  border-radius: 25px;
  padding: 25px 60px 25px;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
